
.hidden {display: none;}

.unhidden {display: block;}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: medium;
    color: #555;
    background-color: white;
}

h1 {
    letter-spacing: 3px;
    font-size: 1.4em;
    color: #369;
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    letter-spacing: 3px;
    font-size: 1.2em;
    color: #369;
    font-weight: normal;
    font-family: sans-serif;
}

h4 {
    letter-spacing: 3px ! important;
    font-size: 1.5em ! important;
    color: #369 ! important;
    font-weight: bold ! important;
    text-align: center ! important;
    font-family: sans-serif ! important;
}

#izquierda {
    letter-spacing: 3px ! important;
    font-size: 1.5em ! important;
    color: #369 ! important;
    font-weight: bold ! important;
    text-align: left ! important;
    font-family: sans-serif ! important;
}

h5 {
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.83em;
}

h6 {
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    font-size: 0.875em;
    color:#B22222;
    font-family: sans-serif;
}

.h5 {
    font-size: 14px; 
    font-family: Helvetica Neue ,Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #428bca;
    background: transparent;
    border: none;
    letter-spacing: 1px; 
    margin-top: 10px; 
    margin-bottom: 10px
}

.h5:hover{
    text-decoration: underline;    
}

#footer p {
    font-size: 11px;
    margin: 4px;
}

pre {
    font-family: sans-serif;

}

table {
    margin-top: 50px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    alignment-adjust: auto;
    font-family: sans-serif ! important;
}

td {
    /*    background-color: rgba(0,0,255,0.1);*/
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: sans-serif;
}

tr{

    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

/* Links */
a {
    color: #126598;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {

    text-decoration: underline;
    font-family: sans-serif;
}


/********************
      ESTRUCTURA
*********************/

#body-content {
    margin: auto;
    background-color: white;
    width: 80%;
    min-height: 100%;
    position: relative;

}

#banner{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 250px;
}

.nav li a{
    font-size: 0.8em;
    color: #1C6EA0;
}

.nav li a:hover{
    color: white;
    background-color: #eee;
    color: #4684b0;
}

.nav > li{
    float:left;	
}

#login-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    padding: 3px;
}

#login-form table {
    width: 100%;
    color: white;
}

#sidebarR {

    width: 15%;
    float: right;
    margin-top: 50px;
    height: 100%;
}

#sidebarL {

    width: 15%;
    float: left;
    margin-top: 50px;
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
}

#upperBar {
    position: relative;
    margin-top: 0px;
}

#contacto{
    float:right;
    margin-top: 240px;
    margin-right: -150px
}

#footer{
    width:80%;
    margin:auto;
    clear: both;
    position: relative;
    background-color: white;
    color: #1C6EA0;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: -100px;
}

.error{
    border-color: red;
}

#Bienve{
    float: left;
    color:#369;
    font-size: 1.0em;
    /*top:280px;
    left:150px;
    position: absolute;*/
}

#Bienve h1{
    letter-spacing: 1px;
    color:#369;
    font-size: 0.9em;
    margin-left: 50px;
}

#NombreUser{
    letter-spacing: 1px;
    font-weight: normal;
    float: right;
    width: 640px;
    color:#369;
    font-size: 1.0em;
    /*top:280px;
    left:250px;
    position: absolute;*/
}

#NombreUser h1{
    letter-spacing: 1px;
    font-weight: normal;
    color:#369;
    font-size: 1.2em;
}

table.altrowstable th {
    background-color: #126598;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

table.altrowstable {
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
table.altrowstable tr {
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#e6f0ef;
}
.evenrowcolor{
    background-color:#c3dde0;
}

/*Paginacion de las tablas*/
#alternatecolor{
    width: 100%;
}

#alternatecolor tr{
    height: 50px;
    text-align: center;

}

#testTable { 
    width : 95%;
    margin-left: auto; 
    margin-right: auto; 
}

#testTable th {
    color: white;
}

#tablePagination { 
    background-color: #DCDCDC; 
    font-size: 0.8em; 
    padding: 0px 5px; 
    height: 20px
}

#tablePagination_paginater { 
    margin-left: auto; 
    margin-right: auto;
}

#tablePagination img { 
    padding: 0px 2px; 
}

#tablePagination_perPage { 
    float: left; 
}

#tablePagination_paginater { 
    float: right; 
}

.glossymenu{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    /*    border: solid;*/
}

a.menuitem{
    color: #1c6ea0;
    display: block;
    position: relative; 
    width: auto;
    padding: 4px 0;
    padding-right: 10px;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom-color: black;
    border-collapse:collapse;
    border-bottom-width: 1px;
}

.glossymenu a.menuitem.statusicon{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
}

.glossymenu div.submenu{ 
    background: white;
    padding-left: 10px;
}

.glossymenu div.submenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.glossymenu submenu{
    display: block;
    color: #369;
    text-decoration: none;
    padding-left: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    width: auto;
}

/*Botones siguientes y anterior en formulario*/
.button {
    border-top: 1px solid #96d1f8;
    background: #4686b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#4684b0), to(#4686b0));
    background: -webkit-linear-gradient(top, #4684b0, #4686b0);
    background: -moz-linear-gradient(top, #4684b0, #4686b0);
    background: -ms-linear-gradient(top, #4684b0, #4686b0);
    background: -o-linear-gradient(top, #4684b0, #4686b0);
    padding: 4.5px 9px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ffffff;
}
.button:active {
    border-top-color: #0a293d;
    background: #0a293d;
}

.divformulario{       
    width:450px;
    border:3px solid #126598;
    border-radius: 10px;
    background: #dcebe8
}

seleccAll{
    letter-spacing: 3px;
    font-size: 1.4em;
    color: #369;
    font-weight: bold;
    font-family: sans-serif;   
}

/*Edits para BOOTSTRAP*/
.panel-group {
    margin-top: 50px;
    width: 75%;
}

#content {
    width:72%; 
    margin-top: 50px;
}

#tabla {
    margin-top: 0px;
    width: 96%;
    border: 0;
}

#alert {
    width: 95%;
    margin-bottom: 30px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 16px;
}

.table {
    margin-top: 0px;
}

#alert-coord {
    width: 75%;
    margin-bottom: 10px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 14px;
}

#planilla_head {
    text-align: left; 
    font-size: 11px; 
    border-top-color: white; 
    padding-left: 0px;
    color: gray;
}

#modifica_planilla_head {
    text-align: left; 
    font-size: 14px; 
    padding-left: 0px;
    color: #555;
    padding-top: 12px;
    border-top-color: white; 
}

#planilla_body {
    /* padding-left: 100px; */
    border-top-color: white; 
    width: 120px;
}

.input-codigo {
    margin-bottom: 0px; 
    height: 30px; 
    width: 30%; 
    text-align: center;
}

.input-nombre {
    margin-bottom: 0px; 
    height: 30px; 
    width: 410px; 
    text-align: center;
}

#link-dropdown {
    text-decoration: none;
}

.popover-content {
    font-size: 10px;
    font-style: normal;
}

#footer {

    display: block;
    height: 40px;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 10px;
}

.link {
    color: #1c6ea0;
    font-size: 11px;
    font-weight: bold;
    border: 0;
    background: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
}

.link:hover {
    text-decoration: underline;    
    border: none;
}

.recomendar {
    border: 1px solid #ddd; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 50%;
    margin-top: 30px;
}

.link2 {
    color: #428bca;
    border: 0;
    background: transparent;
    font-size: 14px;
}

.link2:hover {
    text-decoration: underline;
    color: #126598;
}

.link-danger {
    color: #d2322d;
    border: 0;
    background: transparent;
    font-size: 14px;
}

.link-danger:hover {
    text-decoration: underline;
    color: #ac2925;
}